# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=order_flow
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://redis:6379

# Application
APP_PORT=3000
APP_ENV=production # Possible values: development, production

# Cache
CACHE_TTL=300000

# Admin (Basic Auth)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# JWT Settings
JWT_ACCESS_SECRET=079289fa8f21332c670c70773153c5d5e7705aeff3561eb2f5123cc4c8e4aec7
JWT_REFRESH_SECRET=f8c2e91d47ba6f023c4d7e8a1e9b2f46c3e5d9a7b8f1c4e6d8a2b5f7c9e1a3d6
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Stripe API
STRIPE_EXEC_MODE=docker # Possible values: docker, local, live
STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here

# Queues Concurrency
QUEUE_ORDER_CONCURRENCY=15
QUEUE_SE_CONCURRENCY=30
QUEUE_PAYMENT_CONCURRENCY=15

# API
API_VERSION=1.0.0
API_TITLE=Dispatch API
API_DESCRIPTION=API for processing orders with PostgreSQL, Redis and BullMQ. Built with NestJS.

# Debug Settings (optional)
LOG_LEVEL=debug
TYPEORM_LOGGING=false
NEST_DEBUG=false

# Test Environment
TEST_ENV=false
SEED_TEST_DATA=true
